<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{sites/layout/index.html::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Giới Thiệu</h3>
        			<ul>
        				<li><a href="#">Trang chủ</a></li>
        				<li><a href="#">giới thiệu</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->
        
        <!--================Our Bakery Area =================-->
        <section class="our_bakery_area p_100">
        	<div class="container">
        		<div class="our_bakery_text">
        			<h2>The Sweetcake 4Guys</h2>
        			<h6>Thành lập từ năm 2020, với tiêu chí thủ công và sử dụng những loại nguyên liệu tốt nhất cho bánh, SweetCake 4Guys nhanh chóng trở thành địa điểm tin cậy của những người sành ăn, đặc biệt là bánh ngọt.</h6>
        			<p>Tạo ra những món bánh hấp dẫn và độc đáo đòi hỏi thái độ làm việc cũng như kỹ thuật vững chắc, sự chăm chút cho sản phẩm cũng như niềm đam mê bất tận. Tại The Vagabond, chúng tôi luôn đảm bảo những tiêu chí này luôn được trân trọng và theo đuổi bằng cả nhiệt huyết.</p>
        		</div>
        		<div class="row our_bakery_image">
        			<div class="col-md-4 col-6">
        				<img class="img-fluid" src="img/our-bakery/bakery-1.jpg" alt="">
        			</div>
        			<div class="col-md-4 col-6">
        				<img class="img-fluid" src="img/our-bakery/bakery-2.jpg" alt="">
        			</div>
        			<div class="col-md-4 col-6">
        				<img class="img-fluid" src="img/our-bakery/bakery-3.jpg" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Our Bakery Area =================-->
        
        <!--================Bakery Video Area =================-->
        <section class="bakery_video_area">
        	<div class="container">
        		<div class="video_inner">
        			<h3>Hương Vị Tự Nhiên</h3>
        			<p>Bột mì chua nhẹ với quả óc chó rang và hương thảo mới hái, cỏ xạ hương, hạt anh túc, mùi tây và cây xô thơm</p>
        			<div class="media">
        				<div class="d-flex">
        					<a class="popup-youtube" href="https://www.youtube.com/watch?v=o4CxFpBmvNE"><i class="flaticon-play-button"></i></a>
        				</div>
        				<div class="media-body">
        					<h5>Bánh Giáng Sinh<br />Nhấn để xem</h5>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Bakery Video Area =================-->
        
        <!--================Our Mission Area =================-->
        <section class="our_mission_area p_100">
        	<div class="container">
        		<div class="row our_mission_inner">
        			<div class="col-lg-3">
        				<div class="single_m_title">
        					<h2>Sứ Mệnh</h2>
        				</div>
        			</div>
        			<div class="col-lg-9">
        				<div class="mission_inner_text">
        					<h6>Luôn mang lại cho quý khác cảm giác hạnh phúc vui vẻ và lạc quan, xoá tan mọi muộn phiền. Tạo ra những món bánh hấp dẫn và độc đáo đòi hỏi thái độ làm việc cũng như kỹ thuật vững chắc, sự chăm chút cho sản phẩm cũng như niềm đam mê bất tận. Tại Sweetcake 4Guys, chúng tôi luôn đảm bảo những tiêu chí này luôn được trân trọng và theo đuổi bằng cả nhiệt huyết.</h6>
        					<p>chúng tôi tập trung cho phần phát triển sản phẩm, với phương châm kết hợp nguyên liệu Đông - Tây, phát triển dịch vụ giao hàng và mở rộng đến nhiều khách hàng hơn. Luôn luôn chào đón khách bằng nụ cười tỏa sáng. Nếu bạn đang buồn hoặc tức giận chỉ cần ăn một chiếc bánh ngọt ở đây bạn sẽ trở nên vui vẻ hơn.</p>
        					<ul class="nav">
        						<li><a href="#">Cupcake</a></li>
        						<li><a href="#">Birthday cakes</a></li>
        						<li><a href="#">Break</a></li>
        						<li><a href="#">Chocolate</a></li>
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Our Mission Area =================-->
        
        <!--================Client Says Area =================-->
        <section class="client_says_area p_100">
        	<div class="container">
        		<div class="client_says_inner">
        			<div class="c_says_title">
        				<h2>Khách hàng đã nói gì</h2>
        			</div>
        			<div class="client_says_slider owl-carousel">
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="img/client/client-1.png" alt="">
        							<h3>“</h3>
        						</div>
        						<div class="media-body">
        							<p>Bánh ở đây được đánh giá là rất tao nhã, ăn vừa miệng không bị quá ngọt và đặc biệt nhất là mang cách trình bày đậm phong vị nghệ thuật với tầng lớp layers màu sắc bắt mắt. Tiệm bánh ngọt được trang trí kiểu tân cổ điển với bảng palette monochrome sang trọng, điểm thêm những điểm nhấn từ đá marble và các chi tiết trang trí được chủ quán sưu tầm về từ châu Âu. Những ai yêu sách, hoàn toàn có thể tìm đến giá sách đồ sộ của tiệm để từ từ tận hưởng con chữ trong lúc nhẩn nha thưởng thức ly mousse mịn màng, thanh ngọt, ngon ‘tê tái’.</p>
        							<h5>- Nhật Minh</h5>
        						</div>
        					</div>
        				</div>
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="img/client/client-1.png" alt="">
        						</div>
        						<div class="media-body">
        							<p>Bánh ở đây được đánh giá rất cao bởi sự ổn định trong chất lượng, hương vị ‘chuẩn’ tinh tế với cách trình bày được trau chuốt như một tác phẩm nghệ thuật.</p>
        							<h5>- Lê Uyên</h5>
        						</div>
        					</div>
        				</div>
        				<div class="item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="img/client/client-1.png" alt="">
        						</div>
        						<div class="media-body">
        							<p>. Những chiếc bánh có vỏ bánh giòn tan, với hàng trăm lớp bánh mỏng xếp chồng lên nhau rất cầu kỳ. Bánh mì bên trong mềm, có thêm nhân kem sữa đặc béo béo đúng kiểu Pháp.</p>
        							<h5>- Tiến Dũng</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Client Says Area =================-->
        
        <!--================End Client Says Area =================-->
        <section class="our_chef_area p_100">
        	<div class="container">
        		<div class="row our_chef_inner">
        			<div class="col-lg-3">
        				<div class="chef_text_item">
        					<div class="main_title">
								<h2>Our Chefs</h2>
								<p>Các đầu bếp bánh của Sweetcake 4Guys đều là những vị có kinh nghiệm nhiều năm bên nước ngoài, tỉ mỉ, chăm chút với từng sản phẩm của chính mình</p>
							</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="sitetemp/img/chef/chef-1.jpg" alt="">
        					</div>
        					<a href="#"><h4>Michale Joe</h4></a>
        					<h5>Chuyên gia Bánh Mì</h5>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="sitetemp/img/chef/chef-2.jpg" alt="">
        					</div>
        					<a href="#"><h4>Jenifer Pham</h4></a>
        					<h5>Chuyên viên trang trí bánh Kem</h5>
        				</div>
        			</div>
        			<div class="col-lg-3 col-6">
        				<div class="chef_item">
        					<div class="chef_img">
        						<img class="img-fluid" src="sitetemp/img/chef/chef-3.jpg" alt="">
        					</div>
        					<a href="#"><h4>Tan Le</h4></a>
        					<h5>Chuyên gia bánh lạnh</h5>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Client Says Area =================-->
        
        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
        	<div class="container">
        		<div class="row newsletter_inner">
        			<div class="col-lg-6">
        				<div class="news_left_text">
        					<h4>Tham gia cùng với chúng tôi để nhận các thông in ưu đãi sớm nhất</h4>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="newsletter_form">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Nhập Email của bạn">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">Đăng ký</button>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Newsletter Area =================-->
       
</body>
</html>